* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: lightblue;
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 900;
  top: 0;
}

.width80 {
  width: 80%;
  margin: 0 auto;
}

.pre-nav-container {
  background-color: #f5f8fa;
  border-bottom: 1px solid black;
  height: 80px;
}

.nav-container {
  height: 80px;
  background-color: white;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.float {
  float: left;
}

.pre-nav-float1 {
  width: 85.6%;
}

.pre-nav-float2 {
  width: 14.4%;
}

div.pre-nav-float1, div.pre-nav-float2, div.nav-float1, div.nav-float2 {
  line-height: 80px;
}

.vertical-line {
  height: 2px;
  border-right: 1px solid grey;
  margin: 0 1%;
}

div.pre-nav-float1 a, div.pre-nav-float2 a{
  text-decoration: none;
  color: grey;
}

div.pre-nav-float1 span {
  color: grey;
}

div.pre-nav-float2 i{
  color: #007fff;
}

div.pre-nav-float2 button:last-child {
  color: white;
  background-color: #ff7514;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

div.pre-nav-float2 span button{
  color: #ff7514;
  border: 1px solid #ff7514;
  background-color: #f7f7f7;
  width: 70px;
  height: 30px;
  margin: 0 3%;
  border-radius: 5px;
}

.nav-float1 {
  width: 65.6%;
}

.nav-float2 {
  width: 34.4%
}

div.nav-float1 a img {
  vertical-align: middle;
}

div.nav-float2 ul li, div.nav-float2 ul li a, div.section1-float2 ul li, div.section1-float2 ul li a{
  display: inline-block;
  color: grey;
  text-decoration: none;
}

div.nav-float2 ul li, div.nav-float2 ul li a i, div.section1-float2 ul li i, div.section1-float2 ul li a {
  margin-left: 15px;
}


#background-image {
  margin-top: 160px;
  background-image: url(../img/jumbotron.png);
  background-color: #fff5ef;
  width: 100%;
  height: 700px;
  background-position: right 0;
  background-repeat: no-repeat;
  position: relative;
}

#green-line{
  position: absolute;
  bottom: 1px;
  left: 0;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  background-color: #afebe4;
  height: 87px;
  width: 100%;
}

.relative {
  position: relative;
}
.title-box {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  left: 0;
}

div.title-box h1{
  font-size: 60px;
  margin-bottom: 20px;
}

div.title-box p{
  color: grey;
  font-size: 20px;
  margin: 20px 0;
}

div.title-box button {
  border-radius: 5px;
  font-size: 20px;
  color: white;
  background-color: #ff7514;
  width: 200px;
  height: 50px
}


div.title-box h6 {
  margin-top: 20px;
  font-size: 15px;
  font-weight: normal;
}


.section1 {
  background-color: #f5f8fa;
  text-align: center;
}

div.section1 img {
  height: 120px;
  width: auto;
  margin-top: 40px;
}

div.section1 h2 {
  font-weight: bold;
}

div.section1 p{
  width: 40%;
  margin:  2% auto;
  color: grey;
}

div.section1 div.width80 {
  background-color: white;
  height: 300px;
}

.section1-float1 {
  width: 40%;
}

.section1-float2 {
  width: 60%;
}

div.section1-float1 img, div.section2-float1 img, div.section2-float2 img {
  height: 100px;
  margin-bottom: 20px;
}

div.section1-float1 button, div.section2-float1 button, div.section2-float2 button {
  border-radius: 5px;
  font-size: 15px;
  color: white;
  background-color: #ff7514;
  width: 150px;
  height: 50px;
}

div.section1-float2 {
  text-align: left;
}


div.section1-float2 h3{
  margin-top: 50px;
  font-size: 25px;
}

div.section1-float2 p {
  color: grey;
  width: 80%;
  margin: 20px 0;
}

.line {
  display: inline-block;
  border-top: 2px solid grey;
  width: 65%;
  height: 8px;
  margin-left: 5%;
}

div.section1-float2 ul{
  margin-top: 20px;
}

div.section1-float2 ul li span i{
  color: #ff7514;
}

.section2{
  background-color: #f5f8fa;
  text-align: center;
  padding: 40px 0;
}



.section2-float1 {
  width: 30%;
  height: 650px;
  background-color: white;
  padding-top: 20px;
}

.section2-float2 {
  width: 30%;
  margin: 0 5%;
  height: 650px;
  background-color: white;
  padding-top: 20px;
}

div.section2-float1 h3, div.section2-float2 h3 {
  margin-bottom: 20px;
}

div.section2-float1 p, div.section2-float2 p {
  width: 80%;
  margin: 8% auto;
  color: grey;
}

.section2-line {
  width: 80%;
  height: 30px;
  border-bottom: 1px solid grey;
  margin:  40px auto;
}

div.section2-float1 span, div.section2-float2 span {
  font-size: 18px;
}

div.section2-float1 ul, div.section2-float2 ul {
  list-style-type: none;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 70px;
}

div.section2-float1 ul li span i, div.section2-float2 ul li span i{
  color: #ff7514;
  margin-right: 5%;
}
